In [1]:
x = 7 
print(x)

7

In [2]:
print (x)

7

In [7]:
import pandas as pd 

df = pd.DataFrame()

df["math"] = [600,710,420,300,800]
df["verbal"] = [580,500,420,700,200]

df.head(3)

   math  verbal
0   600     580
1   710     500
2   420     420

In [ ]:
# hit shift and tab a couple times and you will see the help info. 

# pandas data frame -- one of the individual column is a panda series 

# almost always a function will retun something

In [ ]:
#DataFrame